<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOS</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">TODOS</h1>

        <form class="ui form" action="/add_todo/{{story_id}}" method="post">
            <div class="field">
                <label>TODO Title</label>
                <input type="text" name="title" placeholder="Enter Story..."><br>
            </div>
            <button class="ui blue button" type="submit">Add</button>
            <a class="ui green button" href="/">Back Stories</a>
        </form>

        <hr>

        {% for todo in todo_list %}
        <div class="ui segment">
            <p class="ui big header">{{todo.header}} | {{todo.start_date}} (Start Date)  -- {{todo.end_date}} (Deadline Date) </p>
            <a class="ui blue button" href="/todo/{{story_id}}/{{ todo }}">More</a>
            <a class="ui red button" href="/delete_todo/{{story_id}}/{{ todo.id }}">Delete</a>

          
        </div>
        {% endfor %}
    </div>
</body>

</html>