<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOS</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>



<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">TODO:  {{todo.header}}</h1>

        {% block content %}
        <form class="ui form" action="/update_todo/{{ story_id }}/{{ todo.id }}" method="post">
            <select name = "to_do_status" class="ui grey button">
                {% for stat in statuses %}
                <option value = {{stat.val}} {% if todo.to_do_status == stat.val %} selected {% endif %} >{{stat.key}}</option>
                {% endfor %}
             </select>
          <dl>
              <dt>Title:
              <dd><textarea name=header rows=1 cols=100> {{todo.header}} </textarea>
              <dt>Description:
              <dd><textarea name=to_do_description rows=5 cols=100>{{todo.to_do_description}}</textarea>  
              <dt>Start Date:
              <dd><textarea name=start_date rows=1 cols=100>{{todo.start_date}}</textarea> 
              <dt>End Date:
              <dd><textarea name=end_date rows=1 cols=100>{{todo.end_date}}</textarea>
          </dl>
            <button class="ui blue button" type="submit">Update</button>
            <a class="ui red button" href="/todos/{{ story_id }}">Back TODOS</a>
        </form>
      {% endblock %}  

        
    </div>
</body>